<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeepFake - File Upload</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'ImageDetection/css/style.css' %}">

</head>
<body>
    <div class="container">
        <nav class="left-nav">
            <h1 class="app-name">DeepFake</h1>
            <ul>
                <li><a href="#">Contribute Image</a></li>
                <li><a href="#">Contribute Video</a></li>
            </ul>
        </nav>

        <div class="main-content">
            <nav class="top-nav">
                <ul>
                    <li><a href="#">Image Upload</a></li>
                    <li><a href="#">Video Upload</a></li>
                    <li><a href="#">Audio Upload</a></li>
                </ul>
            </nav>

            <div class="drag-drop-container">
                <div class="drag-drop-box">
                    <span class="upload-icon">&#x2191;</span> <p>Drag and drop files here</p>
                    <p>or</p>
                    <input type="file" id="file-input" multiple>
                    <label for="file-input" class="file-label">Select Files</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>